--
-- PostgreSQL database dump
--

\restrict P6mV4EyHTkY8xgPfo1OclfUyxCsnFAENaMcQHjeHjGGxvW1q2tVjte9imC7soLf

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    tenant_id integer,
    name text NOT NULL,
    "position" integer DEFAULT 0,
    active boolean DEFAULT true,
    template_id integer
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categories_id_seq OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: category_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.category_templates (
    id integer NOT NULL,
    name text NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.category_templates OWNER TO postgres;

--
-- Name: category_templates_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.category_templates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.category_templates_id_seq OWNER TO postgres;

--
-- Name: category_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.category_templates_id_seq OWNED BY public.category_templates.id;


--
-- Name: item_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.item_images (
    id integer NOT NULL,
    item_id integer,
    url text NOT NULL,
    "position" integer DEFAULT 0,
    variant_id integer
);


ALTER TABLE public.item_images OWNER TO postgres;

--
-- Name: item_images_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.item_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.item_images_id_seq OWNER TO postgres;

--
-- Name: item_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.item_images_id_seq OWNED BY public.item_images.id;


--
-- Name: item_modifier_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.item_modifier_groups (
    id integer NOT NULL,
    item_id integer NOT NULL,
    modifier_group_id integer NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.item_modifier_groups OWNER TO postgres;

--
-- Name: item_modifier_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.item_modifier_groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.item_modifier_groups_id_seq OWNER TO postgres;

--
-- Name: item_modifier_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.item_modifier_groups_id_seq OWNED BY public.item_modifier_groups.id;


--
-- Name: item_variant_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.item_variant_groups (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    item_id integer NOT NULL,
    group_template_id integer NOT NULL,
    position_override integer,
    required_override boolean,
    max_select_override integer,
    active_override boolean
);


ALTER TABLE public.item_variant_groups OWNER TO postgres;

--
-- Name: item_variant_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.item_variant_groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.item_variant_groups_id_seq OWNER TO postgres;

--
-- Name: item_variant_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.item_variant_groups_id_seq OWNED BY public.item_variant_groups.id;


--
-- Name: item_variant_options; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.item_variant_options (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    item_id integer NOT NULL,
    group_template_id integer NOT NULL,
    option_template_id integer NOT NULL,
    price_delta numeric DEFAULT 0 NOT NULL,
    active boolean DEFAULT true NOT NULL,
    position_override integer
);


ALTER TABLE public.item_variant_options OWNER TO postgres;

--
-- Name: item_variant_options_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.item_variant_options_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.item_variant_options_id_seq OWNER TO postgres;

--
-- Name: item_variant_options_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.item_variant_options_id_seq OWNED BY public.item_variant_options.id;


--
-- Name: item_variants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.item_variants (
    id integer NOT NULL,
    item_id integer NOT NULL,
    name text NOT NULL,
    price_delta numeric DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    pos_external_id text
);


ALTER TABLE public.item_variants OWNER TO postgres;

--
-- Name: item_variants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.item_variants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.item_variants_id_seq OWNER TO postgres;

--
-- Name: item_variants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.item_variants_id_seq OWNED BY public.item_variants.id;


--
-- Name: locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.locations (
    id integer NOT NULL,
    tenant_id integer,
    name text NOT NULL
);


ALTER TABLE public.locations OWNER TO postgres;

--
-- Name: locations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.locations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.locations_id_seq OWNER TO postgres;

--
-- Name: locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.locations_id_seq OWNED BY public.locations.id;


--
-- Name: menu_categories_bo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.menu_categories_bo (
    id integer NOT NULL,
    menu_id integer NOT NULL,
    name text NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    pos_external_id text
);


ALTER TABLE public.menu_categories_bo OWNER TO postgres;

--
-- Name: menu_categories_bo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.menu_categories_bo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.menu_categories_bo_id_seq OWNER TO postgres;

--
-- Name: menu_categories_bo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.menu_categories_bo_id_seq OWNED BY public.menu_categories_bo.id;


--
-- Name: menu_category_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.menu_category_items (
    id integer NOT NULL,
    menu_category_id integer NOT NULL,
    item_id integer NOT NULL,
    display_name text,
    display_price numeric,
    sort_order integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    is_available boolean
);


ALTER TABLE public.menu_category_items OWNER TO postgres;

--
-- Name: menu_category_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.menu_category_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.menu_category_items_id_seq OWNER TO postgres;

--
-- Name: menu_category_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.menu_category_items_id_seq OWNED BY public.menu_category_items.id;


--
-- Name: menu_item_locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.menu_item_locations (
    tenant_id integer NOT NULL,
    item_id integer NOT NULL,
    location_id integer NOT NULL,
    active boolean DEFAULT true NOT NULL,
    price_override numeric,
    CONSTRAINT ck_mil_price_nonneg CHECK (((price_override IS NULL) OR (price_override >= (0)::numeric)))
);


ALTER TABLE public.menu_item_locations OWNER TO postgres;

--
-- Name: menu_item_variant_locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.menu_item_variant_locations (
    tenant_id integer NOT NULL,
    variant_id integer NOT NULL,
    location_id integer NOT NULL,
    active boolean DEFAULT true NOT NULL,
    price_override numeric,
    CONSTRAINT ck_mivl_price_nonneg CHECK (((price_override IS NULL) OR (price_override >= (0)::numeric)))
);


ALTER TABLE public.menu_item_variant_locations OWNER TO postgres;

--
-- Name: menu_item_variants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.menu_item_variants (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    item_id integer NOT NULL,
    name text NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    sku text,
    price_delta numeric DEFAULT 0,
    active boolean DEFAULT true NOT NULL,
    CONSTRAINT ck_miv_price_delta CHECK ((price_delta IS NOT NULL))
);


ALTER TABLE public.menu_item_variants OWNER TO postgres;

--
-- Name: menu_item_variants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.menu_item_variants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.menu_item_variants_id_seq OWNER TO postgres;

--
-- Name: menu_item_variants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.menu_item_variants_id_seq OWNED BY public.menu_item_variants.id;


--
-- Name: menu_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.menu_items (
    id integer NOT NULL,
    tenant_id integer,
    location_id integer,
    category_id integer,
    name text NOT NULL,
    description text,
    price numeric DEFAULT 0 NOT NULL,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    CONSTRAINT ck_menu_items_price_nonneg CHECK ((price >= (0)::numeric))
);


ALTER TABLE public.menu_items OWNER TO postgres;

--
-- Name: menu_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.menu_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.menu_items_id_seq OWNER TO postgres;

--
-- Name: menu_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.menu_items_id_seq OWNED BY public.menu_items.id;


--
-- Name: menus; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.menus (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    location_id integer,
    name text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    pos_external_id text
);


ALTER TABLE public.menus OWNER TO postgres;

--
-- Name: menus_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.menus_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.menus_id_seq OWNER TO postgres;

--
-- Name: menus_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.menus_id_seq OWNED BY public.menus.id;


--
-- Name: modifier_group_location_overrides; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modifier_group_location_overrides (
    id integer NOT NULL,
    group_id integer NOT NULL,
    location_id integer NOT NULL,
    is_available boolean DEFAULT true NOT NULL,
    note text,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.modifier_group_location_overrides OWNER TO postgres;

--
-- Name: modifier_group_location_overrides_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.modifier_group_location_overrides_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.modifier_group_location_overrides_id_seq OWNER TO postgres;

--
-- Name: modifier_group_location_overrides_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.modifier_group_location_overrides_id_seq OWNED BY public.modifier_group_location_overrides.id;


--
-- Name: modifier_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modifier_groups (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    name text NOT NULL,
    min_select integer DEFAULT 0 NOT NULL,
    max_select integer,
    is_required boolean DEFAULT false NOT NULL,
    allow_repeat boolean DEFAULT false NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    pos_external_id text
);


ALTER TABLE public.modifier_groups OWNER TO postgres;

--
-- Name: modifier_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.modifier_groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.modifier_groups_id_seq OWNER TO postgres;

--
-- Name: modifier_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.modifier_groups_id_seq OWNED BY public.modifier_groups.id;


--
-- Name: modifier_location_overrides; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modifier_location_overrides (
    id integer NOT NULL,
    modifier_id integer NOT NULL,
    location_id integer NOT NULL,
    is_available boolean DEFAULT true NOT NULL,
    note text,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.modifier_location_overrides OWNER TO postgres;

--
-- Name: modifier_location_overrides_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.modifier_location_overrides_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.modifier_location_overrides_id_seq OWNER TO postgres;

--
-- Name: modifier_location_overrides_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.modifier_location_overrides_id_seq OWNED BY public.modifier_location_overrides.id;


--
-- Name: modifiers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.modifiers (
    id integer NOT NULL,
    modifier_group_id integer NOT NULL,
    name text NOT NULL,
    price_delta numeric DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    sort_order integer DEFAULT 0 NOT NULL,
    pos_external_id text
);


ALTER TABLE public.modifiers OWNER TO postgres;

--
-- Name: modifiers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.modifiers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.modifiers_id_seq OWNER TO postgres;

--
-- Name: modifiers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.modifiers_id_seq OWNED BY public.modifiers.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id integer,
    name text NOT NULL,
    qty integer NOT NULL,
    price numeric NOT NULL
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.order_items_id_seq OWNER TO postgres;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    tenant_id integer,
    location_id integer,
    table_id integer,
    status text DEFAULT 'OPEN'::text,
    total numeric DEFAULT 0,
    to_go boolean DEFAULT false,
    allergies text,
    chef_notes text,
    table_label text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.orders_id_seq OWNER TO postgres;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    id integer NOT NULL,
    order_id integer,
    amount numeric NOT NULL,
    status text DEFAULT 'PENDING'::text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.payments_id_seq OWNER TO postgres;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: tables; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tables (
    id integer NOT NULL,
    location_id integer,
    number text NOT NULL,
    tenant_id integer
);


ALTER TABLE public.tables OWNER TO postgres;

--
-- Name: tables_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tables_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tables_id_seq OWNER TO postgres;

--
-- Name: tables_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tables_id_seq OWNED BY public.tables.id;


--
-- Name: tenant_category_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tenant_category_templates (
    tenant_id integer NOT NULL,
    template_id integer NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.tenant_category_templates OWNER TO postgres;

--
-- Name: tenants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tenants (
    id integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.tenants OWNER TO postgres;

--
-- Name: tenants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tenants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tenants_id_seq OWNER TO postgres;

--
-- Name: tenants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tenants_id_seq OWNED BY public.tenants.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    full_name text NOT NULL,
    email text NOT NULL,
    password_hash text,
    role text NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    location_id integer,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: variant_group_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.variant_group_templates (
    id integer NOT NULL,
    name text NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    required boolean DEFAULT true NOT NULL,
    max_select integer DEFAULT 1 NOT NULL,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.variant_group_templates OWNER TO postgres;

--
-- Name: variant_option_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.variant_option_templates (
    id integer NOT NULL,
    group_template_id integer NOT NULL,
    name text NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.variant_option_templates OWNER TO postgres;

--
-- Name: v_global_variant_groups_options; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_global_variant_groups_options AS
 SELECT vgt.id,
    vgt.name,
    vgt.required,
    vgt.max_select,
    vgt."position",
    vgt.active,
    COALESCE(json_agg(json_build_object('id', vot.id, 'name', vot.name, 'position', vot."position", 'active', vot.active) ORDER BY vot."position", vot.id) FILTER (WHERE (vot.id IS NOT NULL)), '[]'::json) AS options
   FROM (public.variant_group_templates vgt
     LEFT JOIN public.variant_option_templates vot ON ((vot.group_template_id = vgt.id)))
  GROUP BY vgt.id, vgt.name, vgt.required, vgt.max_select, vgt."position", vgt.active;


ALTER TABLE public.v_global_variant_groups_options OWNER TO postgres;

--
-- Name: v_global_variant_options_flat; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_global_variant_options_flat AS
 SELECT vgt.id AS group_template_id,
    vgt.name AS group_name,
    vgt.required,
    vgt.max_select,
    vgt."position" AS group_position,
    vgt.active AS group_active,
    vot.id AS option_template_id,
    vot.name AS option_name,
    vot."position" AS option_position,
    vot.active AS option_active
   FROM (public.variant_group_templates vgt
     LEFT JOIN public.variant_option_templates vot ON ((vot.group_template_id = vgt.id)));


ALTER TABLE public.v_global_variant_options_flat OWNER TO postgres;

--
-- Name: variant_group_templates_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.variant_group_templates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.variant_group_templates_id_seq OWNER TO postgres;

--
-- Name: variant_group_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.variant_group_templates_id_seq OWNED BY public.variant_group_templates.id;


--
-- Name: variant_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.variant_groups (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    item_id integer NOT NULL,
    name text NOT NULL,
    "position" integer DEFAULT 0 NOT NULL,
    required boolean DEFAULT true NOT NULL,
    max_select integer DEFAULT 1 NOT NULL,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.variant_groups OWNER TO postgres;

--
-- Name: variant_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.variant_groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.variant_groups_id_seq OWNER TO postgres;

--
-- Name: variant_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.variant_groups_id_seq OWNED BY public.variant_groups.id;


--
-- Name: variant_option_templates_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.variant_option_templates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.variant_option_templates_id_seq OWNER TO postgres;

--
-- Name: variant_option_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.variant_option_templates_id_seq OWNED BY public.variant_option_templates.id;


--
-- Name: variant_options; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.variant_options (
    id integer NOT NULL,
    group_id integer NOT NULL,
    name text NOT NULL,
    price_delta numeric DEFAULT 0,
    "position" integer DEFAULT 0 NOT NULL,
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.variant_options OWNER TO postgres;

--
-- Name: variant_options_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.variant_options_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.variant_options_id_seq OWNER TO postgres;

--
-- Name: variant_options_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.variant_options_id_seq OWNED BY public.variant_options.id;


--
-- Name: waiter_calls; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.waiter_calls (
    id integer NOT NULL,
    tenant_id integer NOT NULL,
    location_id integer,
    table_id integer,
    status text DEFAULT 'OPEN'::text NOT NULL,
    message text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.waiter_calls OWNER TO postgres;

--
-- Name: waiter_calls_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.waiter_calls_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.waiter_calls_id_seq OWNER TO postgres;

--
-- Name: waiter_calls_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.waiter_calls_id_seq OWNED BY public.waiter_calls.id;


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: category_templates id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category_templates ALTER COLUMN id SET DEFAULT nextval('public.category_templates_id_seq'::regclass);


--
-- Name: item_images id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_images ALTER COLUMN id SET DEFAULT nextval('public.item_images_id_seq'::regclass);


--
-- Name: item_modifier_groups id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_modifier_groups ALTER COLUMN id SET DEFAULT nextval('public.item_modifier_groups_id_seq'::regclass);


--
-- Name: item_variant_groups id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_variant_groups ALTER COLUMN id SET DEFAULT nextval('public.item_variant_groups_id_seq'::regclass);


--
-- Name: item_variant_options id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_variant_options ALTER COLUMN id SET DEFAULT nextval('public.item_variant_options_id_seq'::regclass);


--
-- Name: item_variants id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_variants ALTER COLUMN id SET DEFAULT nextval('public.item_variants_id_seq'::regclass);


--
-- Name: locations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations ALTER COLUMN id SET DEFAULT nextval('public.locations_id_seq'::regclass);


--
-- Name: menu_categories_bo id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_categories_bo ALTER COLUMN id SET DEFAULT nextval('public.menu_categories_bo_id_seq'::regclass);


--
-- Name: menu_category_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_category_items ALTER COLUMN id SET DEFAULT nextval('public.menu_category_items_id_seq'::regclass);


--
-- Name: menu_item_variants id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_item_variants ALTER COLUMN id SET DEFAULT nextval('public.menu_item_variants_id_seq'::regclass);


--
-- Name: menu_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_items ALTER COLUMN id SET DEFAULT nextval('public.menu_items_id_seq'::regclass);


--
-- Name: menus id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menus ALTER COLUMN id SET DEFAULT nextval('public.menus_id_seq'::regclass);


--
-- Name: modifier_group_location_overrides id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_group_location_overrides ALTER COLUMN id SET DEFAULT nextval('public.modifier_group_location_overrides_id_seq'::regclass);


--
-- Name: modifier_groups id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_groups ALTER COLUMN id SET DEFAULT nextval('public.modifier_groups_id_seq'::regclass);


--
-- Name: modifier_location_overrides id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_location_overrides ALTER COLUMN id SET DEFAULT nextval('public.modifier_location_overrides_id_seq'::regclass);


--
-- Name: modifiers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifiers ALTER COLUMN id SET DEFAULT nextval('public.modifiers_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: tables id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tables ALTER COLUMN id SET DEFAULT nextval('public.tables_id_seq'::regclass);


--
-- Name: tenants id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenants ALTER COLUMN id SET DEFAULT nextval('public.tenants_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: variant_group_templates id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_group_templates ALTER COLUMN id SET DEFAULT nextval('public.variant_group_templates_id_seq'::regclass);


--
-- Name: variant_groups id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_groups ALTER COLUMN id SET DEFAULT nextval('public.variant_groups_id_seq'::regclass);


--
-- Name: variant_option_templates id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_option_templates ALTER COLUMN id SET DEFAULT nextval('public.variant_option_templates_id_seq'::regclass);


--
-- Name: variant_options id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_options ALTER COLUMN id SET DEFAULT nextval('public.variant_options_id_seq'::regclass);


--
-- Name: waiter_calls id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.waiter_calls ALTER COLUMN id SET DEFAULT nextval('public.waiter_calls_id_seq'::regclass);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: category_templates category_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category_templates
    ADD CONSTRAINT category_templates_pkey PRIMARY KEY (id);


--
-- Name: item_images item_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_images
    ADD CONSTRAINT item_images_pkey PRIMARY KEY (id);


--
-- Name: item_modifier_groups item_modifier_groups_item_id_modifier_group_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_modifier_groups
    ADD CONSTRAINT item_modifier_groups_item_id_modifier_group_id_key UNIQUE (item_id, modifier_group_id);


--
-- Name: item_modifier_groups item_modifier_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_modifier_groups
    ADD CONSTRAINT item_modifier_groups_pkey PRIMARY KEY (id);


--
-- Name: item_variant_groups item_variant_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_variant_groups
    ADD CONSTRAINT item_variant_groups_pkey PRIMARY KEY (id);


--
-- Name: item_variant_groups item_variant_groups_tenant_id_item_id_group_template_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_variant_groups
    ADD CONSTRAINT item_variant_groups_tenant_id_item_id_group_template_id_key UNIQUE (tenant_id, item_id, group_template_id);


--
-- Name: item_variant_options item_variant_options_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_variant_options
    ADD CONSTRAINT item_variant_options_pkey PRIMARY KEY (id);


--
-- Name: item_variant_options item_variant_options_tenant_id_item_id_option_template_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_variant_options
    ADD CONSTRAINT item_variant_options_tenant_id_item_id_option_template_id_key UNIQUE (tenant_id, item_id, option_template_id);


--
-- Name: item_variants item_variants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_variants
    ADD CONSTRAINT item_variants_pkey PRIMARY KEY (id);


--
-- Name: locations locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_pkey PRIMARY KEY (id);


--
-- Name: menu_categories_bo menu_categories_bo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_categories_bo
    ADD CONSTRAINT menu_categories_bo_pkey PRIMARY KEY (id);


--
-- Name: menu_category_items menu_category_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_category_items
    ADD CONSTRAINT menu_category_items_pkey PRIMARY KEY (id);


--
-- Name: menu_item_locations menu_item_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_item_locations
    ADD CONSTRAINT menu_item_locations_pkey PRIMARY KEY (tenant_id, item_id, location_id);


--
-- Name: menu_item_variant_locations menu_item_variant_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_item_variant_locations
    ADD CONSTRAINT menu_item_variant_locations_pkey PRIMARY KEY (tenant_id, variant_id, location_id);


--
-- Name: menu_item_variants menu_item_variants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_item_variants
    ADD CONSTRAINT menu_item_variants_pkey PRIMARY KEY (id);


--
-- Name: menu_items menu_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT menu_items_pkey PRIMARY KEY (id);


--
-- Name: menus menus_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menus
    ADD CONSTRAINT menus_pkey PRIMARY KEY (id);


--
-- Name: modifier_group_location_overrides modifier_group_location_overrides_group_id_location_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_group_location_overrides
    ADD CONSTRAINT modifier_group_location_overrides_group_id_location_id_key UNIQUE (group_id, location_id);


--
-- Name: modifier_group_location_overrides modifier_group_location_overrides_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_group_location_overrides
    ADD CONSTRAINT modifier_group_location_overrides_pkey PRIMARY KEY (id);


--
-- Name: modifier_groups modifier_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_groups
    ADD CONSTRAINT modifier_groups_pkey PRIMARY KEY (id);


--
-- Name: modifier_location_overrides modifier_location_overrides_modifier_id_location_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_location_overrides
    ADD CONSTRAINT modifier_location_overrides_modifier_id_location_id_key UNIQUE (modifier_id, location_id);


--
-- Name: modifier_location_overrides modifier_location_overrides_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_location_overrides
    ADD CONSTRAINT modifier_location_overrides_pkey PRIMARY KEY (id);


--
-- Name: modifiers modifiers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifiers
    ADD CONSTRAINT modifiers_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: tables tables_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tables
    ADD CONSTRAINT tables_pkey PRIMARY KEY (id);


--
-- Name: tenant_category_templates tenant_category_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenant_category_templates
    ADD CONSTRAINT tenant_category_templates_pkey PRIMARY KEY (tenant_id, template_id);


--
-- Name: tenants tenants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenants
    ADD CONSTRAINT tenants_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: variant_group_templates variant_group_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_group_templates
    ADD CONSTRAINT variant_group_templates_pkey PRIMARY KEY (id);


--
-- Name: variant_groups variant_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_groups
    ADD CONSTRAINT variant_groups_pkey PRIMARY KEY (id);


--
-- Name: variant_groups variant_groups_tenant_id_item_id_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_groups
    ADD CONSTRAINT variant_groups_tenant_id_item_id_name_key UNIQUE (tenant_id, item_id, name);


--
-- Name: variant_option_templates variant_option_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_option_templates
    ADD CONSTRAINT variant_option_templates_pkey PRIMARY KEY (id);


--
-- Name: variant_options variant_options_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_options
    ADD CONSTRAINT variant_options_pkey PRIMARY KEY (id);


--
-- Name: waiter_calls waiter_calls_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.waiter_calls
    ADD CONSTRAINT waiter_calls_pkey PRIMARY KEY (id);


--
-- Name: idx_categories_tenant; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_categories_tenant ON public.categories USING btree (tenant_id);


--
-- Name: idx_categories_tenant_name_norm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_categories_tenant_name_norm ON public.categories USING btree (tenant_id, lower(btrim(name)));


--
-- Name: idx_item_images_item_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_item_images_item_id ON public.item_images USING btree (item_id);


--
-- Name: idx_item_images_variant; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_item_images_variant ON public.item_images USING btree (variant_id);


--
-- Name: idx_item_variant_options_opt; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_item_variant_options_opt ON public.item_variant_options USING btree (option_template_id);


--
-- Name: idx_item_variants_item; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_item_variants_item ON public.item_variants USING btree (item_id, sort_order, id);


--
-- Name: idx_item_variants_item_sort; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_item_variants_item_sort ON public.item_variants USING btree (item_id, sort_order);


--
-- Name: idx_ivo_item; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ivo_item ON public.item_variant_options USING btree (tenant_id, item_id);


--
-- Name: idx_mci_cat_sort; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mci_cat_sort ON public.menu_category_items USING btree (menu_category_id, sort_order);


--
-- Name: idx_menu_items_cat; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_menu_items_cat ON public.menu_items USING btree (category_id, active);


--
-- Name: idx_menu_items_tenant; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_menu_items_tenant ON public.menu_items USING btree (tenant_id);


--
-- Name: idx_miv_item; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_miv_item ON public.menu_item_variants USING btree (item_id);


--
-- Name: idx_miv_tenant; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_miv_tenant ON public.menu_item_variants USING btree (tenant_id);


--
-- Name: idx_mivl_variant; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mivl_variant ON public.menu_item_variant_locations USING btree (variant_id);


--
-- Name: idx_modifiers_group_sort; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_modifiers_group_sort ON public.modifiers USING btree (modifier_group_id, sort_order);


--
-- Name: idx_order_items_order_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_items_order_id ON public.order_items USING btree (order_id);


--
-- Name: idx_orders_status_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_status_created_at ON public.orders USING btree (status, created_at DESC);


--
-- Name: idx_orders_tenant_status_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_tenant_status_created ON public.orders USING btree (tenant_id, status, created_at DESC);


--
-- Name: idx_users_tenant_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_tenant_email ON public.users USING btree (tenant_id, lower(email));


--
-- Name: idx_variant_groups_item; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_variant_groups_item ON public.variant_groups USING btree (item_id, active, "position");


--
-- Name: idx_variant_options_group; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_variant_options_group ON public.variant_options USING btree (group_id, active, "position");


--
-- Name: idx_vgt_position_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vgt_position_id ON public.variant_group_templates USING btree ("position", id);


--
-- Name: idx_vot_group; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vot_group ON public.variant_option_templates USING btree (group_template_id);


--
-- Name: idx_vot_group_position_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_vot_group_position_id ON public.variant_option_templates USING btree (group_template_id, "position", id);


--
-- Name: idx_waiter_calls_tenant_status_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_waiter_calls_tenant_status_created ON public.waiter_calls USING btree (tenant_id, status, created_at DESC);


--
-- Name: uq_categories_tenant_template; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_categories_tenant_template ON public.categories USING btree (tenant_id, template_id) WHERE (template_id IS NOT NULL);


--
-- Name: uq_category_templates_name_norm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_category_templates_name_norm ON public.category_templates USING btree (lower(btrim(name)));


--
-- Name: uq_locations_id_tenant; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_locations_id_tenant ON public.locations USING btree (id, tenant_id);


--
-- Name: uq_menu_items_id_tenant; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_menu_items_id_tenant ON public.menu_items USING btree (id, tenant_id);


--
-- Name: uq_users_tenant_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_users_tenant_email ON public.users USING btree (tenant_id, lower(btrim(email)));


--
-- Name: uq_users_tenant_email_norm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_users_tenant_email_norm ON public.users USING btree (tenant_id, lower(btrim(email)));


--
-- Name: uq_variant_groups_name_norm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_variant_groups_name_norm ON public.variant_groups USING btree (lower(btrim(name)));


--
-- Name: uq_vgt_name_norm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_vgt_name_norm ON public.variant_group_templates USING btree (lower(btrim(name)));


--
-- Name: uq_vot_group_name_norm; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_vot_group_name_norm ON public.variant_option_templates USING btree (group_template_id, lower(btrim(name)));


--
-- Name: categories categories_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.category_templates(id) ON DELETE SET NULL;


--
-- Name: categories categories_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE SET NULL;


--
-- Name: item_images fk_item_images_variant; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_images
    ADD CONSTRAINT fk_item_images_variant FOREIGN KEY (variant_id) REFERENCES public.menu_item_variants(id) ON DELETE CASCADE;


--
-- Name: menu_item_locations fk_mil_item; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_item_locations
    ADD CONSTRAINT fk_mil_item FOREIGN KEY (item_id, tenant_id) REFERENCES public.menu_items(id, tenant_id) ON DELETE CASCADE;


--
-- Name: menu_item_locations fk_mil_location; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_item_locations
    ADD CONSTRAINT fk_mil_location FOREIGN KEY (location_id, tenant_id) REFERENCES public.locations(id, tenant_id) ON DELETE CASCADE;


--
-- Name: menu_item_variants fk_miv_item; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_item_variants
    ADD CONSTRAINT fk_miv_item FOREIGN KEY (item_id, tenant_id) REFERENCES public.menu_items(id, tenant_id) ON DELETE CASCADE;


--
-- Name: menu_item_variant_locations fk_mivl_location; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_item_variant_locations
    ADD CONSTRAINT fk_mivl_location FOREIGN KEY (location_id, tenant_id) REFERENCES public.locations(id, tenant_id) ON DELETE CASCADE;


--
-- Name: menu_item_variant_locations fk_mivl_variant; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_item_variant_locations
    ADD CONSTRAINT fk_mivl_variant FOREIGN KEY (variant_id) REFERENCES public.menu_item_variants(id) ON DELETE CASCADE;


--
-- Name: item_images item_images_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_images
    ADD CONSTRAINT item_images_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.menu_items(id) ON DELETE CASCADE;


--
-- Name: item_modifier_groups item_modifier_groups_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_modifier_groups
    ADD CONSTRAINT item_modifier_groups_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.menu_items(id) ON DELETE CASCADE;


--
-- Name: item_modifier_groups item_modifier_groups_modifier_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_modifier_groups
    ADD CONSTRAINT item_modifier_groups_modifier_group_id_fkey FOREIGN KEY (modifier_group_id) REFERENCES public.modifier_groups(id) ON DELETE CASCADE;


--
-- Name: item_variant_groups item_variant_groups_group_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_variant_groups
    ADD CONSTRAINT item_variant_groups_group_template_id_fkey FOREIGN KEY (group_template_id) REFERENCES public.variant_group_templates(id);


--
-- Name: item_variant_options item_variant_options_group_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_variant_options
    ADD CONSTRAINT item_variant_options_group_template_id_fkey FOREIGN KEY (group_template_id) REFERENCES public.variant_group_templates(id);


--
-- Name: item_variant_options item_variant_options_option_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_variant_options
    ADD CONSTRAINT item_variant_options_option_template_id_fkey FOREIGN KEY (option_template_id) REFERENCES public.variant_option_templates(id);


--
-- Name: item_variants item_variants_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_variants
    ADD CONSTRAINT item_variants_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.menu_items(id) ON DELETE CASCADE;


--
-- Name: locations locations_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.locations
    ADD CONSTRAINT locations_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: menu_categories_bo menu_categories_bo_menu_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_categories_bo
    ADD CONSTRAINT menu_categories_bo_menu_id_fkey FOREIGN KEY (menu_id) REFERENCES public.menus(id) ON DELETE CASCADE;


--
-- Name: menu_category_items menu_category_items_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_category_items
    ADD CONSTRAINT menu_category_items_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.menu_items(id) ON DELETE CASCADE;


--
-- Name: menu_category_items menu_category_items_menu_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_category_items
    ADD CONSTRAINT menu_category_items_menu_category_id_fkey FOREIGN KEY (menu_category_id) REFERENCES public.menu_categories_bo(id) ON DELETE CASCADE;


--
-- Name: menu_items menu_items_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT menu_items_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE SET NULL;


--
-- Name: menu_items menu_items_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT menu_items_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE SET NULL;


--
-- Name: menu_items menu_items_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT menu_items_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE SET NULL;


--
-- Name: menus menus_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menus
    ADD CONSTRAINT menus_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE SET NULL;


--
-- Name: menus menus_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.menus
    ADD CONSTRAINT menus_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: modifier_group_location_overrides modifier_group_location_overrides_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_group_location_overrides
    ADD CONSTRAINT modifier_group_location_overrides_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.modifier_groups(id) ON DELETE CASCADE;


--
-- Name: modifier_group_location_overrides modifier_group_location_overrides_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_group_location_overrides
    ADD CONSTRAINT modifier_group_location_overrides_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE CASCADE;


--
-- Name: modifier_groups modifier_groups_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_groups
    ADD CONSTRAINT modifier_groups_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: modifier_location_overrides modifier_location_overrides_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_location_overrides
    ADD CONSTRAINT modifier_location_overrides_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE CASCADE;


--
-- Name: modifier_location_overrides modifier_location_overrides_modifier_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifier_location_overrides
    ADD CONSTRAINT modifier_location_overrides_modifier_id_fkey FOREIGN KEY (modifier_id) REFERENCES public.modifiers(id) ON DELETE CASCADE;


--
-- Name: modifiers modifiers_modifier_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.modifiers
    ADD CONSTRAINT modifiers_modifier_group_id_fkey FOREIGN KEY (modifier_group_id) REFERENCES public.modifier_groups(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: orders orders_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id);


--
-- Name: orders orders_table_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_table_id_fkey FOREIGN KEY (table_id) REFERENCES public.tables(id);


--
-- Name: orders orders_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- Name: payments payments_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: tables tables_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tables
    ADD CONSTRAINT tables_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id);


--
-- Name: tenant_category_templates tenant_category_templates_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tenant_category_templates
    ADD CONSTRAINT tenant_category_templates_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.category_templates(id) ON DELETE CASCADE;


--
-- Name: users users_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id) ON DELETE SET NULL;


--
-- Name: users users_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id) ON DELETE CASCADE;


--
-- Name: variant_groups variant_groups_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_groups
    ADD CONSTRAINT variant_groups_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.menu_items(id) ON DELETE CASCADE;


--
-- Name: variant_option_templates variant_option_templates_group_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_option_templates
    ADD CONSTRAINT variant_option_templates_group_template_id_fkey FOREIGN KEY (group_template_id) REFERENCES public.variant_group_templates(id) ON DELETE CASCADE;


--
-- Name: variant_options variant_options_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.variant_options
    ADD CONSTRAINT variant_options_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.variant_groups(id) ON DELETE CASCADE;


--
-- Name: waiter_calls waiter_calls_location_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.waiter_calls
    ADD CONSTRAINT waiter_calls_location_id_fkey FOREIGN KEY (location_id) REFERENCES public.locations(id);


--
-- Name: waiter_calls waiter_calls_table_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.waiter_calls
    ADD CONSTRAINT waiter_calls_table_id_fkey FOREIGN KEY (table_id) REFERENCES public.tables(id);


--
-- Name: waiter_calls waiter_calls_tenant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.waiter_calls
    ADD CONSTRAINT waiter_calls_tenant_id_fkey FOREIGN KEY (tenant_id) REFERENCES public.tenants(id);


--
-- PostgreSQL database dump complete
--

\unrestrict P6mV4EyHTkY8xgPfo1OclfUyxCsnFAENaMcQHjeHjGGxvW1q2tVjte9imC7soLf

